.divListaClientes{
    position: relative;
    text-transform: capitalize;
    text-align: left;
    background: #343638;
    color: white;
}

.listaDeClientes{
    list-style-type: none;
    padding-left: 5px;
    cursor: context-menu;
}

.fieldEquipamento{
    color: #fff;
    background: #40011f;
    width: 37rem;
    margin-left: auto;
    margin-right: auto;
    height: 17rem;
}

.divListaTipos, .divListaMarcasEquip{
    position: relative;
    text-transform: capitalize;
    text-align: left;
    color: black;
    background: #fffdfe;
}

.listaDeTipos, .listaDeMarcasEquip{
    list-style-type: none;
    padding-left: 5px;
    cursor: context-menu;
}

.textProblema{
    font-family: monospace !important;
    width: 100%;
    text-transform: uppercase;
}