.divListaClientes{
    position: relative;
    text-transform: capitalize;
    text-align: left;
    background: #343638;
    color: white;
    z-index: 1;
}

.listaDeClientes{
    list-style-type: none;
    padding-left: 5px;
    cursor: context-menu;
}

.fieldEquipamento{
    color: #fff;
    background: #40011f;
    width: 37rem;
    margin-left: auto;
    margin-right: auto;
    height: 17rem;
    border-radius: 7px;
}

.divListaTipos, .divListaMarcasEquip{
    position: relative;
    text-transform: capitalize;
    text-align: left;
    color: black;
    background: #fffdfe;
}

.listaDeTipos, .listaDeMarcasEquip{
    list-style-type: none;
    padding-left: 5px;
    cursor: context-menu;
}

.textProblema{
    font-family: monospace !important;
    width: 100%;
    text-transform: uppercase;
    height: 5rem;
    border-radius: 7px;
}

.btnSalvarOS{    
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}