.card {
    background-color: #7b0e42 !important;
}


.container {
    max-width: 420px !important;
}

.form-control {
    width: 87% !important;
}

a{
    margin-block-end: 2% !important;
}

.btn-block {
    width: 30% !important;
}
.btn-primary {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}
