body{
    margin-top: 3% !important;
    color: #ffffff !important;
}

.card {
    background-color: #7b0e42 !important;
}

img{
    margin-top: 10% !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.container {
    max-width: 420px !important;
}

.form-control {
    margin-left: 10% !important;
    width: 80% !important;
}

span{
    margin-left: 10%;

}

label {
    margin-left: 10% !important;
}

a{
    color: #ffffff !important;
    margin-left: 10% !important;
    margin-top: 10% !important;
}

.btn-block {
    width: 30% !important;    
    margin-left: auto !important;
    margin-right: auto !important;
}
