.btn-primary {
    background-color: #343638 !important;
    border-color: #343638 !important;
}

.btn-secondary {
    color: #343638 !important;
    background-color: #ffffff !important;
    border-color: #343638 !important;
}