body {
  font-size: 1.2rem !important;
}

.container {
  width: 1024px;
  padding: 2em;
}

.bold-blue {
  font-weight: bold;
}

.titulo {
  margin-top: 6.2rem;
}

.dropdown-toggle::after {
  content: none !important;
}

.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
  line-height: none !important;
}

.tabelaEdit {
  width: -webkit-fill-available;
  text-align: -webkit-center;
}

.bootstrap-table {
  margin-top: 20px !important;
}

.containerSec {
  margin-top: 50px;
}

.modal-dialog {
    margin: 13.75rem auto !important;
}

.btn{
  font-size: 1.3rem !important;
  
}

.btnEdit{  
  background-color: transparent !important;
}

.switchSlide{
  margin-left: 147px;
  margin-right: -148px;
}

.bold-blue {
  font-weight: normal !important;
}

.btn-outline-light { 
  color: #333 !important;
  border-color: #f8f9fa00 !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: inherit !important;
}

.ui-dialog {
  z-index: 1050 !important;
}