.containerDash{
    margin: 30px auto; 
}

.containerDash > h4{
    margin: 5px 0 10px 0;
}

.contadores{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.contadores > div > div{
    width: 34rem;
    border: 1px solid #ccc;  
    margin: 0 auto 0 auto;
    background: rgb(172, 170, 170);
    text-align: center;
    font-size: 1.5rem;
    flex: 1;
    padding: 15px;
}

.item{
    text-align: center;
    font-size: 1.5rem;
    flex: 1;    
}

.chart-container {
    position: relative;
    height: 0vh;
    width: 40vw;
    display: flex;
  }