.menu-top {
  color: white;
  background: #40011f;
  height: 60px;
  width: -webkit-fill-available;
}

.nome-user {
  text-align: left;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  white-space: nowrap;
}

.menu-texto {
  font-size: medium;
  font-style: normal;
  font-weight: normal;
  font-family: "Segoe UI", Monaco, sans-serif;
}

.try-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 60px;
  background: #00000082;
}

.esconde-menu {
  display: none;
}

.img-logo {
  text-align: center;
  padding-top: 5px;
  background: #40011f;
}

.input-search {
  width: 120px !important;
}

.btn-search2 {
  position: fixed;
  color: #ffffff;
  background: black;
  height: 35px;
  width: 35px;
  text-align-last: center;
}
/*
.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}*/

a:hover {
  color: #40011f !important;
  text-decoration: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
}

.responsive.responsiva > h1 {
  font-size: calc(2em + 1vw);
}
.responsiva > h2 {
  font-size: calc(1.5em + 1vw);
}
.responsiva > h3 {
  font-size: calc(1.17em + 1vw);
}
.responsiva > p {
  font-size: calc(1em + 1vw);
}

.bold-blue {
  font-weight: bold;
}

.dropdown-toggle::after {
  content: none !important;
}

.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
  line-height: none !important;
}

.table th,
.table td {
  padding: 0.3rem !important;
}
.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
  padding: 8px;
  line-height: 24px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

th {
  text-align: center !important;
}

.container{
  text-align: center;
  margin-top: 50px;
}

.modal-dialog {
  margin: 1.5rem auto !important;
}

.modal-open .modal {
  overflow-y: hidden !important;
}

.btn {
  font-size: 0.8rem !important;
}

.btnEdit {
  background-color: transparent !important;
}

.btnNovaOS{
  width: 2.5rem;
  height: 2.5rem;
}

.bold-blue {
  font-weight: normal !important;
}

.btn-outline-light {
  color: #333 !important;
  border-color: #f8f9fa00 !important;
}

.ui-dialog {
  z-index: 1050 !important;
}

.ui-dialog .ui-dialog-titlebar-close {
  /*Desabilitar botão de fechar da 'msg'*/
  display: none !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

.paginacao {
  display: block;
  text-align: end;
}

#msg {
  color: white;
  width: 285px;
  line-height: 4.5rem;
  border-radius: 3px;
  position: absolute;
  left: 39%;
  top: 81%;
  text-align: center;
}
#msg.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}