.menu-top {
  color: white;
  background: #7b0e42;
  height: 60px;
  width: -webkit-fill-available;
}

.nome-user {
  text-align: left;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  white-space: nowrap;
}

.menu-texto{
  font-size: medium;
  font-style: normal;
  font-weight: normal;
  font-family: "Segoe UI", Monaco, sans-serif;
}

.try-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 60px;
  background: #00000082;
}

.esconde-menu{
  display:none;
}

.img-logo {
  text-align: center;
  padding-top: 5px;
  background: #7b0e42;
  
}

.input-search{
  width: 120px !important;
}

.btn-search2{
    position: fixed;
    color: #ffffff;
    background: black;
    height: 35px;
    width: 35px;
    text-align-last: center;
}
a:hover{
  color: #ffffff;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}

.responsive.responsiva > h1 {font-size: calc(2em + 1vw);}
.responsiva > h2 {font-size: calc(1.5em + 1vw);}
.responsiva > h3 {font-size: calc(1.17em + 1vw);}
.responsiva > p {font-size: calc(1em + 1vw);}