.bold-blue {
  font-weight: bold;
}

.dropdown-toggle::after {
  content: none !important;
}

.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
  line-height: none !important;
}

.tabelaEdit {
  width: -webkit-fill-available;
  text-align: -webkit-center;
}

.table th, .table td {
  padding: 0.3rem !important;
}
.fixed-table-container tbody td .th-inner, .fixed-table-container thead th .th-inner {
  padding: 8px;
  line-height: 24px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
*, *::before, *::after {
  box-sizing: border-box;
}
*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

th {
  text-align: center !important;
}

.containerSec {
  margin-top: 50px;
}

.modal-dialog {
  margin: 7.75rem auto !important;
}

.modal-open .modal {
  overflow-y: hidden !important;
}

.btn {
  font-size: 0.8rem !important;
}

.btnEdit {
  background-color: transparent !important;
}
/*
.switchSlide {
  margin-left: 147px;
}
*/
.bold-blue {
  font-weight: normal !important;
}

.btn-outline-light {
  color: #333 !important;
  border-color: #f8f9fa00 !important;
}

.ui-dialog {
  z-index: 1050 !important;
}

.ui-dialog .ui-dialog-titlebar-close {
  /*Desabilitar botão de fechar da 'msg'*/
  display: none !important;
}

.msg-icon {
  margin-right: 10px;
  font-size: 1.5em;
}

.paginacao {
  display: block;
  text-align: end;
}

