.menu-top {
  color: white;
  background: #7b0e42;
  height: 60px;
  width: -webkit-fill-available;
}

.nome-user {
  text-align: left;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 3;
}

.img-logo {
  text-align: center;
  padding-top: 5px;
}

.input-search{
    margin-top: -3px;
    width: 150px;
}

.btn-search{
    position: fixed;
    margin-top: -5px;
    color: #ffffff;
    background: black;
    height: 35px;
    width: 35px;
    text-align-last: center;
}
a:hover{
  color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}
